<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exersize 1</title>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<body>
<h3 style="color:white; font-size:50px;text-align:center;">Hello World created by Anthony Coelho</h3>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Rotating_earth_%28large%29.gif/200px-Rotating_earth_%28large%29.gif"
     alt="the gif of truth" height="500" width="500" style="display: block; margin-left: auto; margin-right: auto; width:50%;">
</body>
</html>